<!doctype html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Admin Panel</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="index.html">Hjem</a></li>
            <li><a href="feedback.html">Feedback</a></li>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="stats.html">Statistics</a></li>
            <li><a href="admin.html">Admin</a></li>
            <li><a href="login.html">Logg ut</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <h2>Admin Panel</h2>
        <br>
        <p>Her kan du administrere brukere og tilbakemeldinger.</p>
        <!-- TODO: Ulike fag lærer har og kan velge mellom. -->
    </div>
</main>
<footer>
    <p>&copy; 2025 Feedback System</p>
</footer>
</body>
</html>