<!doctype html>
<html lang=no>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Dashboard</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="feedback.html">Feedback</a></li>
            <li><a href="stats.html">Statistics</a></li>
            <li><a href="admin.html">Admin Panel</a></li>
            <li><a href="login.html">Logg ut</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <h2>Oversikt over tilbakemeldinger</h2>
        <br>
        <div class="feedback-list"> <!--TODO: Erstatt disse med faktiske tilbakemeldinger. Krever henting fra database.-->
            <p><strong>Student 1:</strong> "Veldig bra forelesning!"</p><br>
            <p><strong>Student 2:</strong> "Ønsker mer praktiske oppgaver."</p><br>
            <p><strong>Student 3:</strong> "Fint opplegg, men tempoet er litt raskt."</p>
        </div>
    </div>
</main>
<footer>
    <p>&copy; 2025 Feedback System</p>
</footer>
</body>
</html>